/.idea/

*.txt
*.log
*.zip
*.zip*
*.tar
*.tar*
*.enc
*.enc*
*.gz
*.gz*
*.tgz
*.tgz*
*.sql
*.rar
*.doc
*.docx
*.rtf
*.xls
*.xlsx
*.ppt
*.pptx
*.psd
*.psb
*.sketch

# Laravel
/www/.phpunit.cache
/www/node_modules
/www/public/build
/www/public/hot
/www/public/storage
/www/storage/*.key
/www/vendor
/www/.env
/www/.env.backup
/www/.env.production
/www/.phpactor.json
/www/.phpunit.result.cache
/www/Homestead.json
/www/Homestead.yaml
/www/auth.json
/www/npm-debug.log
/www/yarn-error.log
